<!DOCTYPE html>
<html>
  <head>
    <title>Manyo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron jumbotron-extend">
      <div class="cotainer-fluid">
      <header>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
                <span class="sr-only">Bootstrap</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">タスク管理システム</a>
            </div>
            <div id="gnavi" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="">top</a></li>
                <li><a href="">新規作成</a></li>
                <li><a href="">一覧画面</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <%= yield %>
      </div>
    </div>
    <footer>
      <p>201901 copy</p>
    </footer>
  </body>

</html>
